<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title - Quacker</title>
	@Styles.Render("~/Content/css")
</head>
<body ng-app="quackerApp">
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				@Html.ActionLink("QUACKER", "Dashboard", "Quacker", new { area = "" }, new { @class = "navbar-brand" })
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a href="#/login">Login</a></li>
					<li><a href="#/dashboard">Dashboard</a></li>
					<li></li>
				</ul>
			</div>
		</div>
	</div>

	<div class="container body-content" ng-view>
		@RenderBody()
		
	</div>
	<hr />
	<footer>
		<p>&copy; @DateTime.Now.Year - Quacker</p>
	</footer>

	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/angular")
	@Scripts.Render("~/bundles/bootstrap")
	@Scripts.Render("~/bundles/quacker")
	@RenderSection("scripts", required: false)
</body>
</html>
