<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Quacker</title>
	@Styles.Render("~/Content/css")
</head>
<body ng-app="quackerApp">
	<div class="navbar navbar-inverse navbar-fixed-top" ng-controller="LoginController as loginCtrl">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#quackerNavbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				
				<span class="navbar-text-simple navbar-text navbar-logo"><img src="~/Images/duck-icon48.png" />Quacker</span>
			</div>
			<div class="navbar-collapse collapse" id="quackerNavbar">
				<ul class="nav navbar-nav navbar-right">
					<li>
						<a href="/#/login" ng-show="loginCtrl.hasUserName()"><span class="glyphicon glyphicon-user"></span> Hi, {{loginCtrl.name()}}!</a>
						<a href="/#/login" ng-show="!loginCtrl.hasUserName()"><span class="glyphicon glyphicon-log-in"></span> Please tell me your name</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="container body-content" ng-view>
		@RenderBody()
	</div>

	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/angular")
	@Scripts.Render("~/bundles/bootstrap")
	@Scripts.Render("~/bundles/moment")
	@Scripts.Render("~/bundles/quacker")
	@RenderSection("scripts", required: false)
</body>
</html>
